.btn-add,
.btn-add-user,
.btn-add-menu,
.btn-add-catb,
.btn-add-publish,
.btn-add-author {
    display: inline-flex;
    align-items: center;
    background: #4e73df;
    color: #fff !important;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 0 10px;
    text-decoration: none !important;
}

.btn-add i,
.btn-add-user i,
.btn-add-menu i,
.btn-add-catb i,
.btn-add-publish i,
.btn-add-author i {
    font-size: 14px;
    min-width: 16px;
    text-align: center;
}

.btn-add .btn-text,
.btn-add-user .btn-text,
.btn-add-menu .btn-text,
.btn-add-catb .btn-text,
.btn-add-publish .btn-text,
.btn-add-author .btn-text {
    opacity: 0;
    margin-left: 8px;
    white-space: nowrap;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.btn-add:hover {
    width: 110px;
    background: #2e59d9;
    color: #fff !important;
}

.btn-add-user:hover {
    width: 75px;
    background: #2e59d9;
    color: #fff !important;
}

.btn-add-menu:hover {
    width: 80px;
    background: #2e59d9;
    color: #fff !important;
}

.btn-add-catb:hover {
    width: 130px;
    background: #2e59d9;
    color: #fff !important;
}

.btn-add-publish:hover {
    width: 95px;
    background: #2e59d9;
    color: #fff !important;
}

.btn-add-author:hover {
    width: 90px;
    background: #2e59d9;
    color: #fff !important;
}

.btn-add:hover,
.btn-add:focus,
.btn-add:active,

.btn-add-user:hover,
.btn-add-user:focus,
.btn-add-user:active,

.btn-add-menu:hover,
.btn-add-menu:focus,
.btn-add-menu:active,

.btn-add-publish:hover,
.btn-add-publish:focus,
.btn-add-publish:active,

.btn-add-author:hover,
.btn-add-author:focus,
.btn-add-author:active,

.btn-add-catb:hover,
.btn-add-catb:focus,
.btn-add-catb:active {
    color: #fff !important;
    text-decoration: none !important;
}

.btn-add:hover .btn-text,
.btn-add-user:hover .btn-text,
.btn-add-menu:hover .btn-text,
.btn-add-author:hover .btn-text,
.btn-add-publish:hover .btn-text,
.btn-add-catb:hover .btn-text {
    opacity: 1;
}

.form-control.is-invalid {
    border-color: #e74a3b;
    box-shadow: none;
}

.alert {
    transition: all 0.6s ease-out;
}

.alert.hide {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
}